*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F1EF;
    font-family: 'Bai Jamjuree', sans-serif;
}

.hero{
    display: flex;
    flex-direction: column;
}

.mitades{
    display: flex;
}

.heroL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 3% 0 6% 15%;
}

h2{
    text-transform: uppercase;
    font-size: 4.4rem;
}

#london{
    text-decoration: line-through;
}

h3{
    text-transform: uppercase;
    padding-top: 35px;
    font-size: 1.7rem;
}

#star{
    color: #E94E35;
}

.botones{
    display: flex;
    padding-top: 50px;
}

button{
    padding: 16px 40px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    border: 3px solid black;
}

#project{
    background-color: #171513;
    color: #F3F1EF;
    transition: color 0.45s ease;
}

#project:hover{
    color: #E94E35;
}

#talk{
    background-color: transparent;
    transition: background 0.45s ease;
}

#talk:hover{
    background-color: #E94E35;
}

.heroR{
    width: 45%;
    position: relative;
}

img{
    width: 90%;
}

.rueda{
    color: #E94E35;
    font-size: 30rem;
    position: absolute;
    z-index: -1;
    right: 6vw;
}

ul{
    display: flex;
    background-color: #171513;
    list-style: none;
    color: #F3F1EF;
    padding: 40px 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
      
    -webkit-transform: skew(0deg, -3deg);
    -moz-transform: skew(0deg, -3deg); 
    -ms-transform: skew(0deg, -3deg); 
    -o-transform: skew(0deg, -3deg); 
    transform: skew(0deg, -3deg); 
}

#estrella{
    color: #E94E35;
}

@media(max-width: 1540px){
    ul{
        padding: 30px 0;
        font-size: 1rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 1.3rem;
        padding-top: 20px;
    }

    .rueda{
        font-size: 22rem;
        right: 5vw;
    }

    button{
        font-size: 1rem;
        padding: 10px 25px;
        border: 1px solid black;
    }

    .botones{
        padding-top: 30px;
    }
}

@media(max-width: 1040px){
    .heroR{
        display: none;
    }

    .mitades{
        justify-content: center;
        background: linear-gradient(rgba(243, 241, 239, 0.7), rgba(47, 80, 63, 0.8)), url(./imagenes/image-from-rawpixel-id-6535554-png.png);
        background-size: cover;
        background-position: top;
    }

    .heroL{
        flex-basis: 80%;
        padding: 5% 0;
        align-items: center;
        text-align: center;
    }

    ul{
        width: 100%;
        padding: 20px 0;
        justify-content: center;
        
        -webkit-transform: none; 
        -moz-transform: none; 
        -ms-transform: none; 
        -o-transform: none; 
        transform: none; 
    }
}

@media(max-width: 480px){
    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1rem;
    }


    ul{
        padding: 10px 0;
    }

    .botones{
        margin-bottom: 10px;
    }
}